.btn-info {
	background-color: lightyellow;
	border-color: yellow;
	color: #000;
}
.jumbo-bg{
	background-image: url(../img/pic1.jpeg);
	background-position: top;
	background-size: contain;
	padding: 250px !important;
	background-repeat: no-repeat;
}

img{
	width: 1200px;
	height: auto;
}